{% extends 'base.html.twig' %}

{% block body %}
    <h1>Titres list</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for titre in titres %}
            <tr>
                <td><a href="{{ path('titre_show', { 'id': titre.id }) }}">{{ titre.titre }}</a></td>
                <td>{{ titre.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('titre_show', { 'id': titre.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
