{% extends 'base.html.twig' %}

{% block body %}
    <h1>Titre creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a style="color: white;" href="{{ path('titre_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
