{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salle creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a style="color: white;" href="{{ path('salles_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
