{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création de Formation</h1>
    <div class="col-sm-2">
        <ul>
            <li>
                <a style="color: white;" href="{{ path('formation_index') }}">Retour à la liste</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-default" type="submit" value="Créer" />
        {{ form_end(form) }}
    </div>
    <div class="col-sm-2"></div>
{% endblock %}
