{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formation</h1>

    <table>
        <tbody>
            <tr>
                <th>Formation</th>
                <td>{{ formation.formation }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formation_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
