body {
    background-color: white;
    background-image: url("img/webbackground.jpg");
    background-size: 100%;
}

table {
    background-color: white;
    margin-left: 125px;
}

#c1 {
    margin-left: 125px;
}

form {
    position: absolute;
    right: 100px;
    left: 100px;
}





